body{
  margin: 0;
  background-color: #c2c9cc;
  font-family: "Oswald", sans-serif;
  height: 100%;
  
}

#main-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-content{
    flex: 1;
    
}

h6{
    margin: 0 10px 0 10px;
    text-align: center;
    font-size: 14px;
}

.Divider{
    width: 100%;
    background-color: #0b0c10;
    height: 2px;
    border:none;
    margin-top: 3rem;

}
      
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #1f2833;
    height: 50px;
}  



ul {
    list-style: none;
}

.nav-item{
    padding: 10px;
    margin-right: 20px;
    color: aliceblue;
}

.nav-items{
    display: flex;
    text-indent: 10px;
    margin-left: auto;
    padding: 0;


}

.nav-item{
    cursor: pointer;
}

.nav-item.active{
    color: #66fcf1;
    font-weight: bold;
}
 

.about-text{
    height: 60%;
    text-align: center;
}


.welcome{
    display: flex;
    font-size: 2rem;
    padding-top: 20px;
    background: -webkit-linear-gradient(#5aa7e7, #677381);
    -webkit-text-fill-color: transparent;
    text-align: center;
    justify-content: center;
    margin-top: 4rem;

    
}

.Center-welcome{
    display: flex;
    justify-content: center;
    text-align: center;
}

strong{
    
    font-size: 40px;
    line-height: 110px;
    color:  #0b0c10;
    ;
  
}

.intro{
    color: rgb(17, 15, 15);
    margin-top: 3rem;
    padding: 20px;
    text-indent: 3px;
    line-height: 1.7;
    font-size: 35px;
    margin-bottom: 5rem;

}

.logo{
    width: 24px;
    height: 24px;
   
}

.logo-Container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    top: 0;
   



}

.logo-Container2{
    display: flex;
    text-indent: 10px;
    margin-left: auto;
    padding-right: 100px;
    gap: 25px;
    
    
     
}

.section-heading{
   font-size: 2rem;
   font-weight: bold;
   background: 
   linear-gradient(90deg, #45a29e, #0b0c10 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border-bottom:5px solid #456488; */
}

.About{
    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
    width: 45%;
    height: fit-content;
    margin-top: 8rem;
    
    
}

p{
    line-height: 1.8;

}

/* /* .section-container{ 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
    width: 100%;
 } */
    
 


.about-text{
    
    color: rgb(31, 28, 28);
    margin: 8px;
   
    
}

.About-bg{
    width: 100%;
}


.welcome{
    font-size: 2rem;
    padding-top: 20px;
    background: 
    linear-gradient(90deg, #45a29e, #1f2833 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    
}

.Center-welcome{
    display: flex;
    justify-content: center;
    text-align: center;
}
 

.intro{
    color: rgb(17, 15, 15);
    margin-top: 3rem;
    padding: 20px;
    text-indent: px;
    line-height: 1.7;
    margin-bottom: 5rem;

}


.footer-logo{
    margin: 10px;
}

.logo-Container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    top: 0;
   



}


.About{
    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
    width: 45%;
    height: fit-content;
    margin-top: 8rem;
    
    
}

p{
    line-height: 1.8;

}

.section-container{ 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    padding-top: 10rem;
    margin-bottom: 6rem;
    
        

}


.about-text{
    
    color: rgb(49, 43, 43);
    margin: 8px;
    font-size: 16px;
    font-weight: bold;
   
    
}

.About-bg{
    width: 100%;
}

.content{
    /* border: 2px solid rgb(201, 194, 194); */
    width: fit-content;
    box-shadow:2px 2px 6px #bebebe,
    -2px -2px 6px whitesmoke;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 45px;
    margin-right: 45px;
    height: auto;
   }

   .skills-con{
    max-width: 400px;
    margin: auto;
   }

   .skills{
    margin-bottom: 20px;
   }

   .skills p {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
   }

   .progress{
    width: 100%;
    height: 10px;
    background-color: #1f2833;
    border-radius: 5px;
    margin-top: 5px;
   }

   .progress-bar{
    height: 10px;
    background-color: #2b9758;
    border-radius: 5px;
   }

   .project-item-con{
    border: 1px solid #b1bbc7;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #b1bbc7;
    border-radius: 30px  30px 0 0;
   }

.project-items{
    margin-bottom: 3rem;
    max-width: 80vw;
   margin-left: 8px;
   margin-right: 8px;}

.project-box{
    border-radius: 30px;
    background-color:#fff ;
    /* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.1),
     -0 -5px 8px rgb(0, 0, 0, 0.1);
    max-width: 400px; 
    height: 150px;   
    
}

.project-btn{
    background-color: #45a29e;
    color: whitesmoke;
    border-radius: 60px;
    border: none;
    margin:2px ;
    width: 120px;

    &:hover{
        background-color: black;
        box-shadow: 0 1px 1px 1px rgb(#aaa,0.6);
    } 
}

.project-lan{
    border: 2px solid #1f2833;
    opacity: 0.5;
    border-radius: 60px;
    width: fit-content;
    margin: 2px;
   
   
    
    
}

div.project-lan h3{
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    font-weight: normal;
    color: black;
    opacity: 10;
    margin: 1px;
    margin-left: 5px;
    margin-right: 5px;
   
}

.project-lan-con{

    display: flex;
    padding: 1rem 0 1rem 0;
    

}

.project-name{
    padding: 1rem 0 ;
    font-size: 24px;
    font-weight: bold;
}

.project-about-con{
    width: 300px;
    line-height: 1.5;
    margin: 10px 0;
overflow: hidden;
}

.project-txt-con{
   max-width: 400px;
   padding: 1rem;
}

.project-text{
    overflow: hidden;
    transition: height 0.3s ease;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0 8px 0 8px;
   
  
    
    /* width: 80%;
    overflow-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
    word-wrap: break-word; */
}


.project-text.collapsed{
    height: 50px;
}

.project-text.expanded{
    height: auto;
}

.seemore-btn{
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    opacity: 0.8;
   
}

form{
    max-width: 600px;
    text-align: center;
    margin: 20px auto;


input, textarea{
    border: 0 ; 
    outline:0;
    padding: 1rem;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1rem;
    box-shadow: 0 1px 1px rgb(black, 0.1);

    &:focus{
        box-shadow: 0 0px 2px rgb(red, 1, );
    }
}

.submit-btn{
    color: white;
    background-color: #45a29e;
    border-radius: 20px;
    cursor: pointer;
    border: none;

    &:hover{
        background-color: black;
        box-shadow: 0 1px 1px 1px rgb(#aaa,0.6);
    }
}

textarea{
    height: 150px;
}
  }

  .form-con{
    border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe,
   -20px -20px 60px #ffffff;
}

  .half{
   float: left;
   width: 48%;
   margin-bottom: 1rem;

  }

  .right{
    width: 50%;
  }

  .left{
    margin-right: 2%;
  }

  .prompt-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0,0.5);
    z-index: 1000;
  }

  .prompt-message{
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe,
   -20px -20px 60px #7c7777;
    width: 300px;
    text-align: center;
  }

  .prompt-btn{
    background-color: #45a29e ;
    color: #c5c6c7;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover{
        background-color: black;
        box-shadow: 0 1px 1px 1px rgb(#aaa,0.6);
    }
  }

  

  .footer{
    background-color: #0b0c10;
    color: whitesmoke;
    margin: 0;
    padding-top: 60px;
    line-height: 1.6;
    
  }

  .footer-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 25px;
    

  }

  .footer-rights-txt{
     font-size: 12px;
     font-weight: normal;

  }

  .footer-rights{
    text-align: center;
    text-indent: 0.4;
    background-color: #1f2833;
    color: whitesmoke;
    margin: 0;
    line-height: 1.6;
    width: 100%;
    height: fit-content;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 0;
  }

  .footer-comment-h2{
    color: #66fcf1;
  }

  

@media (max-width: 768px){

    .hamburger{
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 1001;
    }
    
    .hamburger span{
        width: 30px;
        height: 3px;
        background-color: #66fcf1;
        transition: 0.3s;
    }
    
    /* transform hamburger icons to x */
    
    .hamburger.open .line:nth-child(2){
        transform: rotate(45deg)
        translate(5px,5px);
    }
    
    .hamburger.open .line:nth-child(1){
        opacity: 0;
    }
    
    .hamburger.open .line:nth-child(3){
        transform: rotate(-45deg)
        translate(5px, -5px);
    }
    
    .navbar{
        height: 35px;
    }

    /* full screen overlay menu */
    .nav-items{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(14, 12, 12, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
        z-index: 1000;
        
        
    }
    .nav-item {
        opacity: 0;
        transform: translateY(20px);
        animation: slideIn 0.5s ease forwards;
      }
      
      .nav-item:nth-child(1) {
        animation-delay: 0.2s;
      }
      
      .nav-item:nth-child(2) {
        animation-delay: 0.4s;
      }
      
      .nav-item:nth-child(3) {
        animation-delay: 0.6s;
      }
      
      .nav-item:nth-child(4) {
        animation-delay: 0.8s;
      }
      
      @keyframes slideIn {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
    
    .nav-items.open{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    
    .section-heading{
        font-size: 36px;
    }
    
    .Center-welcome{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome{
        font-size: 30px;
        font-weight: bold;
    }


    .logo{
        width: 16px;
    }

    .strong{
        font-size: 48px;
        line-height: 60px;
    }

    .intro{
        font-size: 30px;
    }
    
    .skills-con{
        width: 80%;
    }
    
    .section-heading{
        margin-bottom: 4rem;
    }
    
    .Animation{
        opacity: 1;
        transform: translateY(50px);
        transition: opacity 0.6s,
        transform 0.6s;
        
    }
  
    .Animation.animate{
        opacity: 1;
        transform: translate(0);
    }

    
    .project-box{
       
        height: 20vh;
        margin-bottom: 10px;
     }
    
        
    
      .profile{
        width: 20vw ;
        height:20vh ;
        border: 5px solid #B5D0F0;
        border-radius: 100%;
        float: right;
        position: relative;
        
        
      }
    
      form{
        display: inline-block;
      }
    
      .half{
        width: 100%;
        float: none;
        margin-bottom: 0;
      }

      input{
       height: 24px;
      }

      .submit-btn{
        width: 150px;
        margin-top: 20px;
      }

      .footer-nav{
        text-align: left;
        margin-right: auto;
      }
     
      .footer-nav-items {
        display: block;
        margin: 10px 10px;
        cursor: pointer;
        font-size: 18px;
        
    
       
      }
    }
    
    
    
    /* responsive stylying for larger screen  */
    @media(min-width:768px){

        .hamburger{
            display: none;
        }
    
        .nav-items{
            
            position: static;
            height: auto;
            flex-direction: row;
            background: none;
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            gap: 15px;
            margin-left: auto;
        }
        
        .nav-item{
            position: relative;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            justify-items: center;
        }

        

        .nav-item.active::after{
         content: "";
         position: absolute;
         bottom: -5px;
         left: 50%;
         height: 3px;
         background-color: #66fcf1;
         transform: translateX(-50%);
         transition: width 0.3s 
         ease-in-out;
        }

 .nav-item:hover::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    height: 3px;
    background-color: #66fcf1;
    transform: translateX(-50%);
    transition: width 0.3s 
    
    
 }

 .nav-item:hover::after{
    width: 70%;
   
 }

 .nav-item.active::after{
    width: 70%;
 }


.home-section{
    padding: 3rem 0;
}    
        
    .section-container{
      padding: 80px;
      }
        

    .section-heading{
        margin-bottom: 4rem;
    }

    strong{
        font-size: 3rem;
    }

   
        
      
       
         .box-container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 4rem ;
            margin-left: 4rem;
            margin-right: 4rem;
            width: fit-content;
            align-content: stretch;
            flex-wrap: wrap;

         }
    
        
    
          textarea{
            height: 180px;
            font-size: 1rem;
    
          }
    
          .submit-btn{
            width:300px;
            height: 50px;
            font-size: 1rem;
          }

          .footer-nav{
            display: flex;
            justify-content: center;
            align-items: center;
           
          }

          .footer-nav-items{
            margin: 10px 10px;
            cursor: pointer;
            font-size: 18px;
            padding-bottom: 40px;
          }
    }
    


